{% extends "base.html" %}
 {% block title %}
   Перегляд: {{firm.name}}
 {% endblock %}
{% load staticfiles %}
{% block content %}
<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Назва</th>
        <th scope="col">Директор</th>
        <th scope="col">Юр. адреса</th>
        <th scope="col">Фіз. адреса</th>
        <th scope="col">Телефон (1)</th>
        <th scope="col">Телефон (2)</th>
        <th scope="col">Редаг.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{firm.name}}</td>
        <td>{{firm.director}}</td>
        <td>{{firm.yur_address}}</td>
        <td>{{firm.fiz_address}}</td>
        <td>{{firm.telephone1}}</td>
        <td>{{firm.telephone2}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".info">...</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="modal fade info" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <p class="text-left">Форма редагування: <p>
          <div class="form">
            <form method = "POST" class = "form" enctype="multipart/form-data">{% csrf_token %}
              {{ form.as_p }}
              <div class="modal-footer">
                <button type = "submit" class="btn btn-primary" data-toggle="modal">Зберегти</button>
                <input name="delete" value="del" type="hidden">
                <input name="object" value="{{object.id}}" type="hidden">
                <button type ="submit" value="del" class="btn btn-danger" data-toggle="modal">Видалити</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
              </div>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}
