{% extends "base.html" %}
 {% block title %}
   Перегляд КАТЕГОРІЙ
 {% endblock %}
{% block content %}
<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Назва</th>
        <th scope="col">Дії:</th>
      </tr>
    </thead>
    <tbody>
      {% for element in categorys %}
      <tr>
        <td>{{element.id}}</td>
        <td>{{element.name}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".info">...</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- Paginator -->
<nav aria-label="Paginator">
  <ul class="pagination justify-content-center">
    {% if categorys.has_previous %}
       <li class="page-item"><a class="page-link" href="?page={{categorys.previous_page_number}}">Попередня</a></li>
    {% else %}
       <li class="page-item disabled"><a class="page-link" href="">Попередня</a></li>
    {% endif %}
    {% for num in categorys.paginator.page_range %}
     {% if num == categorys.number %}
      <li class="page-item active"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
     {% else %}
      <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
     {% endif %}
    {% endfor %}
     {% if categorys.has_next %}
       <li class="page-item"><a class="page-link" href="?page={{categorys.next_page_number}}">Наступна</a></li>
     {% else %}
      <li class="page-item disabled"><a class="page-link" href="">Наступна</a></li>
     {% endif %}
  </ul>
</nav>
<!-- Small modal -->
<div class="modal fade info" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <p class="text-left">Форма редагування: <p>
      <p class="text-center">ФУНКЦІОНАЛ В РОЗРОБЦІ</p>
      <p>
    </div>
  </div>
</div>
{% endblock %}
