{% load staticfiles %}
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="{% static 'img/National_Police.png' %}" class="img-thumbnail">
    </div>
    <div class="col-sm">
      <address>
        <strong>УПО в м.Києві</strong><br />
        04050, вул. Студентська, 9, Київ, Україна<br />
        <abbr title="Телефон">P:</abbr> (044) 481-01-95
      </address>
    </div>
    <div class="col-sm">
      <address>
        <strong>Ел.пошта</strong><br />
        <a href="mailto:udso@ukr.net">udso@ukr.net</a>
      </address>
    </div>
  </div>
</div>
