<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">Головна</a>
  </li>
  <li class="nav-item dropdown">
    {% if user.is_authenticated %}
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
     aria-haspopup="true" aria-expanded="false">Перегляд</a>
     <div class="dropdown-menu">
        <a class="dropdown-item" href="/view_region">Райони</a>
        <a class="dropdown-item" href="/view_cat">Категорії</a>
        <a class="dropdown-item" href="/view_firm">Фірми</a>
        <a class="dropdown-item" href="/view_obj">Об`єкти</a>
        <a class="dropdown-item" href="/view_doc">Договора</a>
      </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
     aria-haspopup="true" aria-expanded="false">Пошук</a>
     <div class="dropdown-menu">
        <a class="dropdown-item" href="/search">Договір</a>
        <a class="dropdown-item" href="/search">Об`єкт</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Звітність</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link disabled" data-toggle="dropdown" href="#" role="button"
     aria-haspopup="true" aria-expanded="false" aria-disabled="true">Перегляд</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" data-toggle="dropdown" href="#" role="button"
      aria-haspopup="true" aria-expanded="false" aria-disabled="true">Пошук</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Звітність</a>
  </li>
{% endif %}

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Користувач:
			 {% if user.is_authenticated %}
			  {{ user.get_short_name }}
			 {% endif %}
		</a>
    <div class="dropdown-menu">
      {% if user.is_authenticated %}
       <a class="dropdown-item" href="/profile">Профіль</a>
       <a class="dropdown-item" href="#">#</a>
			 <div class="dropdown-divider"></div>
       <a class="dropdown-item" href="{% url 'logout'%}?next=/">Вийти</a>
      {% endif %}
      {% if not user.is_authenticated %}
      <a class="dropdown-item" href="{% url 'login'%}?next={{request.path}}">Увійти</a>
      {% endif %}
    </div>
  </li>
</ul>
